/*Navbar*/



.bc{
    background-color: #0F1A50;
    
}

.tc{
    color:white;
    padding:15px 20px;
    font-size: 18px;
}

.hv:hover{
    color:yellow;
    font-size: 20px;
}

.navbar{
    padding:5px;
    height:100px;
}

.container-fluid{
    height: 100px;
}

.lp{
    margin-top: 40px;
    width: 360px;
}


.ip{
    width:35px;
}

.hvv:hover{
    background-color: black;
    color:blanchedalmond
}

/*amader pic*/

.row{
    width: 100%;
}
.card-img-top{
 border-radius: 50%;
 width:292px;
 height: 313px;
 margin: 10px auto;
}
.btn:hover{
    color:brown;
    background-color: cornsilk;
    font-size: 20px;
    font-weight: bolder;
}
.card{
    float: left;
    width: 100%;
}

.card-text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.abth{
    padding:10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}
.abtdh{
    height:80px;
    width:250px;
    margin:20px 650px;
}

.card{
    border-left: 6px solid;
    border-image: linear-gradient( rgb(44, 98, 119), white);
    border-image-slice: 1;
    box-shadow: 10px 10px 10px rgb(119, 117, 117);
   
}

.col{
    width: 490px;
    margin-left: 10px;
}

/*question*/

.qdv{
    width:100%
}

.qdv p,h2{
    margin:10px;
    padding:10px;
}

.qdv p{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

/*lastheader*/


.last{
    background-color: rgb(37, 65, 9);
    
}

.last img{
    width:2.8%;
   margin-left: 980px; 
   margin-top: -45px;
}
.lasth{
    text-align: center;
    height:30px;
    padding:10px;
    color: cornsilk;
}

/*footer*/

.regular{
    margin-top: 8px;
    font-size: 30px;
    font-weight: bolder;
}

.fa{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.fim{
  width:40px;
  height:40px;
  margin:1px 15px;
  float: left;
}

.social-list{
  margin-left: 230px;
}

.af{
  list-style-type: none;
  margin-left: 200px;
}
.af li{
  float: left;
  margin:1px 15px;
  font-size: 17.5spx;
}
.af a{
  color: blanchedalmond;
}

.pfd{
  float: right;
  margin-right: 70px;
}

.footer{
    width: 100%;
    margin:0;
}

.element.style {
}
.footer {
    border-top: 1px solid #e1e1e1;
    padding: 15px 0;
    background: #0F1A50;
    color: #e1e1e1;
}