/*NavBar*/

.bc{
    background-color: #0F1A50;
    
}

.tc{
    color:white;
    padding:15px 20px;
    font-size: 18px;
}

.hv:hover{
    color:yellow;
    font-size: 20px;
}

.navbar{
    padding:5px;
    height:100px;
}

.container-fluid{
    height: 100px;
}

.lp{
    margin-top: 40px;
    width: 360px;
}

.ip{
    width:35px;
}

.hvv:hover{
    background-color: black;
    color:blanchedalmond
}

/*Terms & Condition*/

.abth{
    padding:10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.abtdh{
    height:80px;
    width:250px;
    margin:20px 650px;
}

.halfwidth{
    width: 45%;
   float: left;
   margin-left: 2%;
    
}
.halfwidth img{
    width: 90%;
}

.halfwidth p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.privacyconfess{
    margin-left: 2%;
    margin-top: 10%;
}

.privacyconfess h2{
    padding-top: 2%;
}

.privacyconfess p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

/*footer*/

.regular{
    margin-top: 8px;
    font-size: 30px;
    font-weight: bolder;
}

.fa{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.fim{
  width:40px;
  height:40px;
  margin:1px 15px;
  float: left;
}

.social-list{
  margin-left: 230px;
}

.af{
  list-style-type: none;
  margin-left: 200px;
}
.af li{
  float: left;
  margin:1px 15px;
  font-size: 17.5spx;
}
.af a{
  color: blanchedalmond;
}

.pfd{
  float: right;
  margin-right: 70px;
}

element.style {
}
.footer {
  border-top: 1px solid #e1e1e1;
  padding: 15px 0;
  background: #0F1A50;
  color: #e1e1e1;
}

